<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Suporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-logo">
    <img src="assets/logopretasem.png" alt="GrupoEko'7 Logo" class="logo"/>
  </div>
  
  <ion-card class="support-card">
    <ion-card-content>
      <p>Se você estiver enfrentando alguma dificuldade técnica, por favor entre em contato com os contatos de suporte abaixo. Nossa equipe de suporte técnico dedicada está pronta para ajudá-lo.</p>
      
      <ion-list lines="none">
        <ion-item href="tel:4931990700">
          <ion-icon name="call" slot="start" class="icon"></ion-icon>
          (49) 3199-0700
        </ion-item>
        <ion-item href="mailto:ti@eko7.com.br">
          <ion-icon name="mail" slot="start" class="icon"></ion-icon>
          ti&#64;eko7.com.br
        </ion-item>
        <ion-item href="https://eko7.com.br/central-de-atendimento/">
          <ion-icon name="globe" slot="start" class="icon"></ion-icon>
          www.eko7.com.br
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
