/*catologo.page.scss*/

ion-content {
  --background: #ffffff;
}
.voltar{
  height: auto;
  width: auto;
  min-width: 44px;
}

.logo-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo {
  width: 200px;
  height: auto; /* Definindo a altura pode ser opcional, dependendo do aspecto da sua imagem */
}
:host{
  ion-content {
  padding-top: env(safe-area-insert-top);
  padding-bottom: env(safe-area-insert-bottom);
}
--swiper-theme-color: #ffffff;
}

.zoom-container {
  overflow: hidden;
  position: relative;
}

.zoom-image {
  transition: transform 0.25s ease;
  cursor: pointer;
}

.zoomed {
  transform-origin: center center;
}

.zoomed img {
  cursor: grab;
}

.download-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.div-button{
  justify-content: center;
  align-items: center;
  display: flex;
}

/* eko7colchoes.page.scss */
.download-all-button {
  margin-top: 30px;
  position: relative;
  width: 200px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #7fc4fd;
  background-color: #7fc4fd;
  overflow: hidden;
}

.download-all-button, .download-all-button__icon, .download-all-button__text {
  transition: all 0.3s;
}

.download-all-button .download-all-button__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 600;
}

.download-all-button .download-all-button__icon {
  position: absolute;
  transform: translateX(200px);
  height: 100%;
  width: 39px;
  background-color: #7fc4fd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-all-button .svg {
  width: 30px;
  fill: #fff;
  
}

.download-all-button:hover {
  background: #7fc4fd;
}

.download-all-button:hover .download-all-button__text {
  color: transparent;
}

.download-all-button:hover .download-all-button__icon {
  width: 148px;
  transform: translateX(18%);
}

.download-all-button:active .download-all-button__icon {
  background-color: #7fc4fd;
}

.download-all-button:active {
  border: 1px solid #7fc4fd;
}

.mySwiper {
  height: calc(100% - env(safe-area-insert-top) - 80px);
}
