/* Importa a fonte Real Head Web W03 Regular */
@import url(https://db.onlinewebfonts.com/c/1e5b7f8cdbcb1e579a6e53aaadaf0b67?family=Real+Head+Web+W03+Regular);

/* Define a fonte Real Head Web W03 Regular */
@font-face {
  font-family: "Real Head Web W03 Regular";
  src: url("https://db.onlinewebfonts.com/t/1e5b7f8cdbcb1e579a6e53aaadaf0b67.eot");
  src: url("https://db.onlinewebfonts.com/t/1e5b7f8cdbcb1e579a6e53aaadaf0b67.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/1e5b7f8cdbcb1e579a6e53aaadaf0b67.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/1e5b7f8cdbcb1e579a6e53aaadaf0b67.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/1e5b7f8cdbcb1e579a6e53aaadaf0b67.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/1e5b7f8cdbcb1e579a6e53aaadaf0b67.svg#Real Head Web W03 Regular")format("svg");
}

/* Estilos para a barra de ferramentas */
ion-header ion-toolbar {
  --background: #7fc4fd; /* Cor de fundo do cabeçalho */
  --color: #ffffff; /* Cor do texto do cabeçalho */
  text-align: center;
}
.search{
  color:#ffffff;
}
.card{
  width: 100%;
  
}
  
  ion-menu-button.menuzin {
    --color: #ffffff; /* Define a cor do ícone do menu */
  }
  
  .title{
    text-align: center ;
    font-family: 'Arial', sans-serif; /* Define a fonte do título */
    font-size: 23px; /* Define o tamanho do texto do título */
    font-weight: bold; /* Define o peso da fonte do título */
  }
  


  ion-card {
    background-color: #ffffff;
    color: #333;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  ion-card-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e0e0e0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 12px;
  }
  
  ion-card-title {
    color: #333;
    font-size: 20px;
    font-weight: bold;
  }
  
  ion-card-subtitle {
    font-size: 14px;
    color: #777;
  }
  
  ion-card-content {
    padding: 12px;
  }
  
  ion-card-content p {
    color: #555;
    line-height: 1.6;
    font-size: 16px;
  }
.pesquisa{
  color: #ffffff;
}

.codigo {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(45deg, #5fb7ff, #0167bb);
  color: #ffffff;
  padding: 5px;
  border-bottom-left-radius: 8px;
}

.olho{
  filter: invert(20%) sepia(100%) saturate(1000%) hue-rotate(180deg);
  position: absolute;
  top:25px;
  right: 10px;
  width: 20px;
  height: auto;
  z-index: 10; /* Garante que o ícone do olho esteja acima do input */
}
  

/* src/app/app.component.scss */

ion-menu {
  --background: #ffffff; /* Fundo do menu */
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --ion-toolbar-background: #ffffff;
  --ion-toolbar-color: #000000;
  --ion-menu-background: #ffffff;
  --ion-menu-text-color: #000000;
}

ion-content {
  --background: #ffffff;
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --ion-toolbar-background: #ffffff;
  --ion-toolbar-color: #000000;
}

/* Adicione estilos específicos para botões, inputs e outros elementos conforme necessário */
ion-button, ion-input, ion-item {
  --background: #ffffff;
  --color: #000000;
}

ion-item {
  --background: #ffffff;
  --ion-item-background: #ffffff;
  --ion-item-text-color: #000000;
}
